.form-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding-top: 30px;
  margin: auto;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-field {
  flex: 1;
}

.mat-form-field {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.errorMsg {
  font-size: 10px;
  margin-top: -32px;
  color: red;
}